@import 'toasts.scss';
@import 'colors.scss';

html > * {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: $black;
  font-weight: 400;
  line-height: 143%;
}

body {
  min-height: 100vh;
  
}
                
#app {
  min-height: 100vh;
  background-color: $white;
}
                               

h1 {
  font-weight: 700;
  font-size: 32px;
  color: $red;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.rounded-10 {
  border-radius: 10px;
  overflow: hidden;
}

.rounded-8 {
  border-radius: 10px;
  overflow: hidden;
}